html {
  font-family: 'PT Sans','Calibri',Helvetica,Arial,'微軟正黑體','Microsoft JhengHei',sans-serif;
}
code, pre {
  font-family: Menlo, Monaco, Consolas, monospace;
}
.post { font-size: 16px; }
.post h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.post .more { 
  float: right;
  margin-right: 10px;
}
.page-title, .post-title { color: #505050; }
h1, h2, h3, h4, h5, h6, strong { color: #505050; }
h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
.lead { font-size: 1.0rem; }
code { 
  padding: 0.2rem; 
  word-wrap: break-word;
}
pre {
  line-height: 1.4;
  padding: 0.8rem;
  font-size: 12px;
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
}
@media (min-width: 48rem) {
  .sidebar {
    width: 15rem;
  }
  .content {
    max-width: 48rem;
  }
  .copyright {
    position: absolute;
    bottom: 1rem;
    font-size: 0.8rem;
  }
}

@media (min-width: 800px) {
  img {
    max-width: 500px;
  }
}
@media (min-width: 1100px) {
  img {
    max-width: 600px;
  }
}

.sidebar-nav-item.active {
  text-decoration: underline;
}
.sidebar-category-item a {
  font-size: 0.9rem;
  color: rgba(255,255,255,.7);
 
}
.sidebar-category-item {
  list-style-type: none;
}
