html {
	font-family: 'Calibri',Helvetica,Arial,'微軟正黑體','Microsoft JhengHei',sans-serif;
}

h1, h2, h3, h4, h5, h6, strong { 
	color: #505050; 
}

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }

code { 
	padding: 0.2rem; 
	word-wrap: break-word;
}

pre {
	line-height: 1.4;
	padding: 0.8rem;
	font-size: 12px;
	white-space: pre;
	overflow: auto;
	word-wrap: normal;
}

code, pre {
	border-radius: 1px;
	font-family: Menlo, Monaco, Consolas, monospace;
}

img {
	display: block;
	max-width: 100%;
	margin: 0 0 1rem;
	border-radius: 0px;
}

@media (min-width: 48rem) {
	.sidebar {
		width: 15rem;
	}
	.content {
		max-width: 100%;
		margin-left: 20rem;
	}
	.copyright {
		position: absolute;
		bottom: 1rem;
		font-size: 0.8rem;
	}
}

@media (min-width: 800px) {
	img {
		max-width: 500px;
	}
}
@media (min-width: 1100px) {
	img {
		max-width: 600px;
	}
}

.sidebar-nav-item.active {
	text-decoration: underline;
}

.lead { 
	font-size: 1.0rem; 
}

.post { 
	font-size: 14px;
}

.post h2 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.page-title, .post-title { 
	color: #505050; 
	font-family: "PT Sans";
}

.tag {
	border: 1px solid #ddd;
	padding: 0px 3px 0px 3px;
}

.more { 
	float: right;
	margin-right: 10px;
}

.highlight {
	border-radius: 1px;
	overflow-y: auto;
}

.avatar {
	float: right;
	height: 150px;
	margin-right: 100px;
	border-radius: 5px;
}

.archive hr,
.category hr {
	margin: 0.2em;
}

.article-row {
	font-size: 0.9rem;
}

.pagination-item {
	padding: 5px;
	border: 1px solid #eee;
}

.pagination-item:first-child {
	border-top-left-radius:    1px;
	border-bottom-left-radius: 1px;
}
.pagination-item:last-child {
	border-top-right-radius:    1px;
	border-bottom-right-radius: 1px;
}
